    /*
1. Position
2. Box model
3. Typography
4. Visuals
5. Miscellaneus
*/
    
    @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Readex Pro', sans-serif;
        background-color: #151011;
    }
    
    header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    
    header img {
        margin: 0 auto;
        margin-top: 50px;
        min-width: 40px;
        max-width: 80px;
        min-height: 40px;
        max-height: 80px;
    }
    
    header a {
        margin: 0 auto;
        width: 20px;
        height: 20px;
        background-image: url(../assets/arrow.png);
        background-size: contain;
    }
    
    section {
        width: 100%;
        display: flex;
        height: auto;
        justify-content: center;
    }
    
    form {
        width: 50%;
        text-align: center;
        color: black;
        background-color: white;
        border-radius: 5px;
        padding: 10px;
        box-shadow: rgba(240, 46, 46, 0.4) 5px 5px, rgba(240, 46, 46, 0.3) 10px 10px, rgba(240, 46, 46, 0.2) 15px 15px, rgba(240, 46, 46, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    }
    
    input {
        padding: 10px;
        height: 30px;
        margin: 10px 0;
        color: white;
        width: 50%;
    }
    
    label {
        background-color: white;
        width: 50%;
        font-family: 'Readex Pro';
    }
    
    button {
        width: 100px;
        border-style: solid;
        border-radius: 5px;
        margin: 10px;
        color: rgba(0, 0, 0, .6);
        background: #ffffff;
        text-shadow: 3px 2px 3px rgba(255, 255, 255, .2);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        cursor: pointer;
    }
    
    #login-error-msg-holder {
        width: 100%;
        height: 100%;
        padding-top: 20px;
        display: grid;
        justify-items: center;
        align-items: center;
    }
    
    #login-error-msg {
        width: 23%;
        text-align: center;
        margin: 0;
        padding: 5px;
        font-size: 12px;
        font-weight: bold;
        color: #8a0000;
        border: 1px solid #8a0000;
        background-color: #e58f8f;
        opacity: 0;
    }
    
    #error-msg-second-line {
        display: block;
        background-color: #e58f8f;
    }