/*
1. Position
2. Box model
3. Typography
4. Visuals
5. Miscellaneus
*/

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Readex Pro', sans-serif;
    height: auto;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: #151011;
    justify-content: center;
}

header img {
    margin: 0 auto;
    margin-top: 50px;
    width: 80px;
    height: 80px;
}

.panel-button {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.panel-button span {
    min-width: 40px;
    max-width: 80px;
    min-height: 40px;
    max-height: 80px;
    background-image: url(../assets/settings.gif);
    background-size: cover;
}

main {
    width: 100%;
    height: 500px;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 180px;
    background-color: #151011;
    justify-content: center;
}

.footer-link {
    text-align: center;
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: bold;
    line-height: 2.4rem;
    color: white;
    text-shadow: 0 1px 0px #ff0000, 1px 0 0px #ff0000, 1px 2px 1px #ff0000, 2px 1px 1px #ff0000, 2px 3px 2px #ff0000, 3px 2px 2px #ff0000, 3px 4px 2px #ff0000, 4px 3px 3px #ff0000, 4px 5px 3px #ff0000, 5px 4px 2px #ff0000, 5px 6px 2px #ff0000, 6px 5px 2px #ff0000, 6px 7px 1px #ff0000, 7px 6px 1px #ff0000, 7px 8px 0px #ff0000, 8px 7px 0px #ff0000;
}